*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
/data/build
/domain/build
/presentation/build
/ui/build
/cache/build
/remote/build
.externalNativeBuild
remote/src/main/java/com/example/there/remote/Keys.kt
